.bun/
.cache/
.cargo/
.codegpt/
.config/
.dart-tool/
.docker/
.dotnet/
.emulator_console_auth_token
.expo/
.flutter
.gnupg/
.gradle/
.hstr_favorites
.java/
.local/
.nix-profile
.npm/
.nvm/
.pki/
.profile
.pub-cache/
.redis-for-vscode/
.rest-client/
.rustup/
.ssh/
.sudo_as_admin_successful
.vscode-react-native/
.yarnrc
.z
.zcompdump*
.zsh_history
Android/
Documents/
Pictures
SyncThing/
Virtualbox VMs/
snap/